body {
    background: #0f0f23;
    color: #cccccc;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source Code Pro", monospace;
}
body > div {
    padding: 1em;
    min-height: 15em;
    min-width: 20em;
}
h1 {
    display: inline-block;
    text-decoration: none;
    color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
    font-size: 1em;
    font-weight: normal;
}
h2 {
    color: #ffffff;
    font-size: 1em;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
}
a {
    color: #009900;
    text-decoration: none;
}
a:hover {
    color: #99ff99;
    text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}
code {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
code:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -2px;
    right: -2px;
    top: 3px;
    bottom: 0px;
    border: 1px solid #333340;
    background: #10101a;
}
noscript {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #0f0f23;
}
#result-a, #result-b {
    min-height: 1.5em;
}
#challenge {
    float: right;
}